

<footer id="myFooter">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default">Contáctame</button>
                    </div>

                <div class="col-sm-12 text-center">
                    <h5>Envía tus propuestas</h5>
                    <p>Toda la información de la app está construida con información que los usuarios nos proporcionan.</p>
                    <p>Si quieres contrubuir, no dudes en enviar cualquier tipo de información a <a href="mailto:danielplataruano@gmail.com">danielplataruano@gmail.com</a></p>
                </div>

                <div class="col-sm-12">
                        <div class="social-networks">
                            <a href="https://twitter.com/DaniPlata15" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://github.com/danielcev" target="_blank" class="github"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/daniel-plata-ruano-69b175112/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <p>Developed with ❤ and Angular</p>
        </div>
    </footer>
                          